body {
	font-size: 20px;
}

p {
	padding: 0 5px 0 10px;
}

h3 {
	padding: 0 0 0 10px;
	margin: 10px;
	font-weight: bold;
	font-size: 30px;
}

img {
	width: 100%;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

li {
	padding: 0px;
}

.italic-li {
	font-style: italic;
}

.italic-paragraph {
	font-style: italic;
	font-size: 20px;
}

.fish-information {
	font-weight: bold;
	font-style: normal;
}

.boundary {
	border: 2px solid #a8a8a8;
	margin: 2px 10px 10px 10px;
}

.container {
	border: 1px solid #939393;
	box-shadow: 5px 5px 10px #939393;
	margin: 0 auto;
	width: 350px;
}

.img-banner-div {
	width: 300px;
	margin: auto;
}